/* ------------------------------------------------------------------ */
/* Styles specific to the individual listing pages.
/* ------------------------------------------------------------------ */

.small-listing-image h4 {
  font-family: 'Source Serif Pro', serif !important;
}

.grey-gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
}

.push-apart h6 {
  color: rgb(202, 203, 206);
  font-size: 14px !important;
}

.individual-listing-header h3 {
  padding-right: 3px;
}

.individual-listing-header h5 {
  background: #27485C;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  color: white;
}

.individual-listing p {
  color: var(--default-text) !important;
  line-height: 1.8;
}

.individual-listing-bottom-buttons p {
  color: white !important;
}

.individual-listing-right p {
  line-height: 1 !important;
}

@media (max-width: 768px) {
  .third-col {
    padding-left: 0px !important;
  }

  .individual-listing-header h3,
  .individual-listing-header h5 {
    text-align: center;
  }

  .push-apart {
    text-align: center;
  }

  .map-container-outer {
    display: flex;
    justify-content: center;
  }

  .individual-listing-bottom-buttons {
    display: flex;
    justify-content: center;
  }

  .individual-listing-bottom-desc {
    text-align: center;
  }

  .individual-listing-logo-container {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .individual-listing-header {
    display: flex;
    justify-content: space-between;
  }

  .icon-and-words.middle {
    justify-content: center;
  }

  .icon-and-words.fourth {
    justify-content: flex-end;
  }

  .individual-listing-bottom-buttons {
    display: flex;
  }

}

.individual-listing-header {
  padding-bottom: 0.4rem;
}

.icon-and-words {
  display: flex;
  color: rgb(170, 170, 170);
}

.icon-and-words p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  margin-bottom: 2px !important;
  color: rgb(170, 170, 170) !important;
}

.individual-listing-right {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding: 1.5rem;
}

.individual-listing-right svg {
  fill: rgb(170, 170, 170) !important;
}

.individual-listing-header h5,
.individual-listing-right h5 {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 500 !important;
}

.individual-listing-right .icon-and-words {
  padding-bottom: 0.7rem;
}

.material-symbols-outlined {
  font-weight: 200 !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .border-right-lg {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.swiper-button-prev.individual-listing-swiper,
.swiper-button-next.individual-listing-swiper {
  background-color: rgba(0, 0, 0, 0.4);
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.swiper-button-prev.individual-listing-swiper:active,
.swiper-button-next.individual-listing-swiper:active {
  background-color: rgba(0, 0, 0, 0.6);
}

.swiper-button-next.individual-listing-swiper:after,
.swiper-button-prev.individual-listing-swiper:after {
  font-size: unset !important;
}

.swiper img::selection {
  background-color: transparent !important;
}